# Mercedes-Benz Greener Manufacturing

### Step1: Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

### Step2: Read the data from Train.csv

In [2]:
df_train = pd.read_csv('train.csv')
# let us understand the data
print('Size of training set: {} rows and {} columns'
      .format(*df_train.shape))
# print few rows and see how the data looks like
df_train.head()

Size of training set: 4209 rows and 378 columns

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

### Step3: Seperate the y from the data as we will use this to learn as the prediction output

In [3]:
y_train = df_train['y'].values

### Step4: Understand the data types we have

In [4]:
cols = [c for c in df_train.columns if 'X' in c]
print('Number of features: {}'.format(len(cols)))

print('Feature types:')
df_train[cols].dtypes.value_counts()

Number of features: 376
Feature types:

int64     368
object      8
dtype: int64

### Step5: Count the data in each of the columns

In [5]:
counts = [[], [], []]
for c in cols:
    typ = df_train[c].dtype
    uniq = len(np.unique(df_train[c]))
    if uniq == 1:
        counts[0].append(c)
    elif uniq == 2 and typ == np.int64:
        counts[1].append(c)
    else:
        counts[2].append(c)

print('Constant features: {} Binary features: {} Categorical features: {}\n'
      .format(*[len(c) for c in counts]))
print('Constant features:', counts[0])
print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

### Step6: Read the test.csv data
    remove columns ID and Y from the data as they are not used for learning

In [6]:
df_test = pd.read_csv('test.csv')


usable_columns = list(set(df_train.columns) - set(['ID', 'y']))
y_train = df_train['y'].values
id_test = df_test['ID'].values

x_train = df_train[usable_columns]
x_test = df_test[usable_columns]

### Step7: Check for null and unique values for test and train sets

In [7]:
def check_missing_values(df):
    if df.isnull().any().any():
        print("There are missing values in the dataframe")
    else:
        print("There are no missing values in the dataframe")
check_missing_values(x_train)
check_missing_values(x_test)

There are no missing values in the dataframe
There are no missing values in the dataframe

### Step8: If for any column(s), the variance is equal to zero, 
    then you need to remove those variable(s).
    Apply label encoder

In [8]:
for column in usable_columns:
    cardinality = len(np.unique(x_train[column]))
    if cardinality == 1:
        x_train.drop(column, axis=1) # Column with only one 
        # value is useless so we drop it
        x_test.drop(column, axis=1)
    if cardinality > 2: # Column is categorical
        mapper = lambda x: sum([ord(digit) for digit in x])
        x_train[column] = x_train[column].apply(mapper)
        x_test[column] = x_test[column].apply(mapper)
x_train.head()

D:\Program\miniconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
D:\Program\miniconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,X48,X243,X383,X159,X284,X184,X285,X329,X366,X181,...,X385,X80,X131,X180,X322,X318,X384,X357,X226,X139
0,0,0,0,0,0,1,1,1,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

### Step9: Make sure the data is now changed into numericals

In [9]:
print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

### Step10: Perform dimensionality reduction
    Linear dimensionality reduction using Singular Value Decomposition of 
    the data to project it to a lower dimensional space.

In [10]:
n_comp = 12
pca = PCA(n_components=n_comp, random_state=420)
pca2_results_train = pca.fit_transform(x_train)
pca2_results_test = pca.transform(x_test)

In [11]:
!pip install xgboost

Requirement already satisfied: xgboost in d:\program\miniconda3\lib\site-packages (1.1.1)
Requirement already satisfied: numpy in d:\program\miniconda3\lib\site-packages (from xgboost) (1.19.0)
Requirement already satisfied: scipy in d:\program\miniconda3\lib\site-packages (from xgboost) (1.4.1)

# Step11: Training using xgboost

In [12]:
import xgboost as xgb
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(
        pca2_results_train, 
        y_train, test_size=0.2, 
        random_state=4242)

d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_valid, label=y_valid)
#d_test = xgb.DMatrix(x_test)
d_test = xgb.DMatrix(pca2_results_test)

params = {}
params['objective'] = 'reg:linear'
params['eta'] = 0.02
params['max_depth'] = 4

def xgb_r2_score(preds, dtrain):
    labels = dtrain.get_label()
    return 'r2', r2_score(labels, preds)

watchlist = [(d_train, 'train'), (d_valid, 'valid')]

clf = xgb.train(params, d_train, 
                1000, watchlist, early_stopping_rounds=50, 
                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[15:52:07] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.14835	valid-rmse:98.26297	train-r2:-58.35295	valid-r2:-67.63754
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.27653	valid-rmse:80.36433	train-r2:-38.88428	valid-r2:-44.91014
[20]	train-rmse:66.71610	valid-rmse:65.77334	train-r2:-25.87403	valid-r2:-29.75260
[30]	train-rmse:54.86956	valid-rmse:53.88973	train-r2:-17.17752	valid-r2:-19.64401
[40]	train-rmse:45.24491	valid-rmse:44.21970	train-r2:-11.35979	valid-r2:-12.89996
[50]	train-rmse:37.44729	valid-rmse:36.37237	train-r2:-7.46666	valid-r2:-8.40428
[60]	train-rmse:31.14748	valid-rmse:30.01874	train-r2:-4.85757	valid-r2:-5.40570
[70]	train-rmse:26.08660	valid-rmse:24.90890	train-r2:-3.10872	valid-r2:-3.41053
[80]	train-rmse:22.04638	valid-rmse:20.83274	train-r2:-1.93458	valid-r2:-2.08514
[90]	train-rmse:18.84402	valid-rmse:17.60314	train-r2:-1.14397	valid-r2:-1.20273
[100]	train-rmse:16.33629	valid-rmse:15.08438	train-r2:-0.61131	valid-r2:-0.61747
[110]	train-rmse:14.40369	valid-rmse:13.14810	train-r2:-0.25262	valid-r2:-0.22888
[120]	train-rmse:12.92867	valid-rmse:11.68931	train-r2:-0.00920	valid-r2:0.02869
[130]	train-rmse:11.80808	valid-rmse:10.61526	train-r2:0.15816	valid-r2:0.19898
[140]	train-rmse:10.98599	valid-rmse:9.84990	train-r2:0.27130	valid-r2:0.31032
[150]	train-rmse:10.37394	valid-rmse:9.32197	train-r2:0.35023	valid-r2:0.38227
[160]	train-rmse:9.92025	valid-rmse:8.95912	train-r2:0.40582	valid-r2:0.42943
[170]	train-rmse:9.59067	valid-rmse:8.71391	train-r2:0.44465	valid-r2:0.46023
[180]	train-rmse:9.34330	valid-rmse:8.55555	train-r2:0.47293	valid-r2:0.47967
[190]	train-rmse:9.15810	valid-rmse:8.45147	train-r2:0.49361	valid-r2:0.49225
[200]	train-rmse:9.01370	valid-rmse:8.38980	train-r2:0.50946	valid-r2:0.49964
[210]	train-rmse:8.90224	valid-rmse:8.34348	train-r2:0.52151	valid-r2:0.50515
[220]	train-rmse:8.82525	valid-rmse:8.32075	train-r2:0.52975	valid-r2:0.50784
[230]	train-rmse:8.76741	valid-rmse:8.30670	train-r2:0.53590	valid-r2:0.50950
[240]	train-rmse:8.71777	valid-rmse:8.29975	train-r2:0.54114	valid-r2:0.51032
[250]	train-rmse:8.67890	valid-rmse:8.29024	train-r2:0.54522	valid-r2:0.51144
[260]	train-rmse:8.64601	valid-rmse:8.28543	train-r2:0.54866	valid-r2:0.51201
[270]	train-rmse:8.61696	valid-rmse:8.28511	train-r2:0.55169	valid-r2:0.51205
[280]	train-rmse:8.58782	valid-rmse:8.28488	train-r2:0.55471	valid-r2:0.51207
[290]	train-rmse:8.56213	valid-rmse:8.28476	train-r2:0.55737	valid-r2:0.51209
[300]	train-rmse:8.53083	valid-rmse:8.28402	train-r2:0.56061	valid-r2:0.51218
[310]	train-rmse:8.50312	valid-rmse:8.28439	train-r2:0.56346	valid-r2:0.51213
[320]	train-rmse:8.47816	valid-rmse:8.28448	train-r2:0.56602	valid-r2:0.51212
Stopping. Best iteration:
[272]	train-rmse:8.60982	valid-rmse:8.28174	train-r2:0.55243	valid-r2:0.51244

[15:52:09] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.1.0/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.

### Step12: Predict your test_df values using xgboost

In [13]:
p_test = clf.predict(d_test)

sub = pd.DataFrame()
sub['ID'] = id_test
sub['y'] = p_test
sub.to_csv('xgb.csv', index=False)

sub.head()

   ID           y
0   1   82.846809
1   2   97.420036
2   3   83.372849
3   4   77.258575
4   5  112.027405